# Copy these values into your shell environment before starting server.py.
HOST=127.0.0.1
PORT=8000
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=sereincafe08@gmail.com
SMTP_PASSWORD=swthszoqjcipizps
SMTP_FROM= sereincafe08 <sereincafe08@gmail.com>
